h1 {
    color: rgb(139, 139, 214);
    background-color: blue;
}
#para1 {
    color: purple;
}
#para2{
    color: orange;
    background-color: yellow;
}
#para3 {
    background-color: rgb(36, 184, 36);
}